/bin/*
*.o
src/Lexic.cpp
src/Syntax.cpp
src/Syntax.tab.*
src/Syntax.output
src/location.hh
*.dot
.vscode
*.aux
*.log
*.synctex.gz
*.svg
*.html
*.xml
*.out
*.exe
src/assembly/conversor
src/assembly/jada_functions.h
src/assembly/jada_memory.h
